body {
  height: 100vh;
  background-image: url(https://cdn.glitch.global/7a008120-558d-41bd-b1ef-defc49792ce2/bgv3_4.png?v=1735721022295);
  background-repeat: repeat;
  background-size: 4px;
  cursor: url(https://cdn.glitch.global/7a008120-558d-41bd-b1ef-defc49792ce2/cursor6.png?v=1735721151081), auto;
  width: auto;
  background-attachment: fixed;
  margin: 0;
}
/*  <div class="">の""内で指定した名前に.を頭につけて使う（classの場合）*/
.atama{
  margin-top:30px;
}
.head {
  width: 270px;
  height: 45px;
  margin-top: 0px;
  margin-left: 10px;
  text-decoration: none;
  background-color: white;
  padding-top: 8px;
}
.head a {
  color: #dd6d00;
  height: 23px;
  width: 200px;
  margin: 10px 0px 0 10px;
/*   text-decoration: 2px underline overline #dd6d00;
  -webkit-text-decoration: 2px underline overline #dd6d00; */
  text-decoration-line:underline overline;
  text-decoration-color:#dd6d00;
 
  text-decoration-thickness:2px;
  text-underline-offset: 5px;
  font-size: 20px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  border: none;
}
.head p {
  font-size: 12px;
  font-family: "BIZ UDMincho", serif;
  margin-top: -3px;
  margin-left: 19px;
  color: #dd6d00;
  transform: scale(1, 0.8);
}

/*  */
.cssbutton {
  width: 100px;
  height: 20px;
  position: fixed;
  top: 44px;

  right: 0;
}

#setButton1 {
  background-color: #2d5ae0;
  width: 10px;
  height: 8px;
  border: none;
  margin-left: 4px;
  cursor: url(https://cdn.glitch.global/7a008120-558d-41bd-b1ef-defc49792ce2/link2.png?v=1705997307235),
    auto;
  padding: 5px 10px;
  text-decoration: none;
}
#setButton2 {
  background-color: #707070;
  width: 10px;
  height: 8px;
  border: none;
  margin-left: 4px;
  cursor: url(https://cdn.glitch.global/7a008120-558d-41bd-b1ef-defc49792ce2/link1.png?v=1705997175194),
    auto;
  padding: 5px 10px;
  text-decoration: none;
}

#setButton3 {
  background-color: #dd6d00;
  width: 10px;
  height: 8px;
  border: none;
  margin-left: 4px;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
}

.sub {
  margin-top: 5px;
}
.sub a {
  font-size: 12px;
  font-family: "BIZ UDMincho", serif;
  margin-top: -3px;
  margin-left: 0;
  color: #dd6d00;
  transform: scale(1, 0.8);
  text-decoration: none;
  border: none;
}

.main {
  font-family: "BIZ UDMincho", serif;
  width: auto;
  height: auto;
  margin-left: 20px;
}
.text {
  width: auto;
}
.text p {
  color: #dd6d00;
  font-size: 20px;
  margin: 250px 21px 400px 21px;
  width: 90vw;
  height: auto;

  letter-spacing: 1px;
  line-height: 40px;
/*   font-family: "Zen Kaku Gothic New", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight:bold;
}

.text p:hover {
  color: #4f5760;
}

.text a {
  text-decoration: none;
  color: #dd6d00;
  font-size: 20px;

  width: 90vw;
  height: auto;

  letter-spacing: 1px;
  line-height: 40px;
}
.text a:hover {
  color: #4f5760;
}

.text hr {
  border-top: 2px solid #dd6d00;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 23px;
  padding-bottom: 100px;
  padding-top: -100px;
}

::-moz-selection {
  color: #fff;
  background-color: #3abec1;
}

::selection {
  color: #fff;
  background-color: #dd6d00;
}

footer {
  height: 80px;
  margin: 30px 0px;
}

footer a {
  color: #dd6d00;
  font-size: 15px;
  margin: 30px 21px;
  margin-bottom: 50px;
  width: auto;
  height: auto;
  width: fit-content;
  letter-spacing: 1px;
  line-height: 40px;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  background-color: #dd6d00;
}

footer hr {
  border-top: 2px dotted #dd6d00;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 23px;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .cssbutton {
    width: 100px;
    height: 20px;
    position: fixed;
    top: 25px;

    right: 0;
  }

  .text p {
   color: #cc6600; /* ← 修正 */
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif; /* ← 追加 */
    letter-spacing: 0.9px;
    line-height: 33px;
    margin: 250px 21px 400px 21px;
    width: auto;
    height: auto;
  }

  .text a {
    color: #dd6d00;
    font-size: 16px;

    width: auto;
    height: auto;

    letter-spacing: 0.8px;
    line-height: 40px;
  }

  .header a {
    color: #dd6d00;
    height: 20px;
    width: 300px;
    margin: 10px 0px 0 10px;

    -webkit-text-decoration: underline dotted 2px #dd6d00;
    font-size: 18px;
/*     font-family: "Zen Kaku Gothic New", sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: white;
  }

  .sub a {
    font-size: 12px;
    font-family: "BIZ UDMincho", serif;
    margin-top: -8px;
    margin-left: 0;
    color: #dd6d00;
    transform: scale(1, 0.8);
    text-decoration: none;
  }
}
